package ${package.Entity.replace("entity","vo")};

#if(${swagger2})
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
#end
#if(${entityLombokModel})
import lombok.Data;
import lombok.EqualsAndHashCode;
#if(${chainModel})
import lombok.experimental.Accessors;
#end
#end
import ${package.Entity}.${entity};

/**
 * $!{table.comment}Vo
 * @author ${author}
 * @since ${date}
 */
#if(${swagger2})
@ApiModel(value="${entity}Vo对象", description="$!{table.comment}Vo")
#end
#if(${entityLombokModel})
@Data
#if(${superEntityClass})
@EqualsAndHashCode(callSuper = true)
#else
@EqualsAndHashCode(callSuper = false)
#end
#if(${chainModel})
@Accessors(chain = true)
#end
#end
public class ${entity}Vo extends ${entity} {

    private static final long serialVersionUID = 1L;

}
